@{
    
}

<div class="row">
    <div class="span4">
        <img src="~/Content/images/Logo_white.jpg" alt="Logo" />
    </div>
    <div class="span4">
        <img src="~/Content/images/MyLach.jpg" alt="Lachlan" />
    </div>
</div>

<div class="row">
    <p>
        Lach’s Legacy is a program for SIDS (sudden infant death syndrome) developed for 
        the support of South Dakota families after the loss of a child, 
        supported by the CJ Foundation for SIDS.  
        The goals of the program are to support grieving families; 
        to promote public awareness of SIDS; to provide SIDS and safe-sleep education to parents, 
        healthcare professionals, and daycares; and to help fund SIDS-related research.  
    </p>
    <p>
        This program was created in loving memory of Lachlan Jon Edwards (June 21, 2007 to May 12, 2008).  
        He was 10 1/2 months when he died suddenly without explanation of SIDS during his morning nap.  
        We are striving to help him create his legacy on earth as one of love and support for families in their darkest hour.
    </p>
    <p>
        Did you know?
    </p>
    <p>
        SIDS claims the lives of approximately 2,500 babies in the United States each year.  
        It is the leading cause of death for children between one month and one year of age 
        and more American children die of SIDS each year than all those who die of cancer, leukemia, 
        heart disease, cystic fibrosis, AIDS, and child abuse combined. 
    </p>
    <p>
        By working together we can give comfort to families when it is difficult to find, 
        education to those who can reduce a child’s risk of a sudden and unexplained death, 
        and hope for an answer when there is no explanation
    </p>
</div>
