@{
    
}
<div class="row">
    <div class="span10">
        <img src="~/content/images/cjlogo.jpg" alt="cj sids foundation logo" />     
    </div>     
</div>

<div class="row">
    <div class="span10">
        <p>
            Lach's Legacy is supported by the CJ Foundation for SIDS.  
            Donations can be made through their website.  
            Follow the link below and add a note in the acknowledgements area to designate 
            your contribution to the Lach's Legacy fund.
            <br />
            <a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=cjsids&id=1">
                Donor Perfect
            </a>
        </p>
        <p>
            Donations can also be accepted by mailing check or money order 
            made out to CJ Foundation for SIDS with Lach's Legacy written in the Memo line.
        </p>
        <address>
        <strong>Lach's Legacy</strong><br />
        PO Box 204 <br />
        Harrisburg, SD 57032<br />
        </address>
    </div>
</div>
