@{ }

<div class="row">
  <div class="span6"><img src="~/Content/images/RunLogo.jpg" alt="Run for their Lives"></div>

  <div class="span4" style="margin-top:50px">
    <div class="alert alert-info">
    <p>This event is a half-marathon, 5K run/walk, and 1 mile kid's run.</p>

    <p>It is held along the scenic bike trails of Sioux Falls.</p>

    <p>Also look for some family fun and some great buys at our silent auction.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span10">
    <h3>2009</h3>

    <p>The inaguration of this annual event was a wonderful success despite the rain! We exceeded our first-year goals, raising nearly $13,000 for the Fight Against SIDS!</p>
  </div>
</div>

<div class="row">
  <div class="span10">
    <h3>2010</h3>

    <p>This year the event will be on Saturday, May 22. We will run out-and-back courses from Sertoma Park in Sioux Falls. We have also added a team section. Participate with your loved ones in memory of your baby...The team with the most members registered will win a tree to plant in memory of their child!</p>

    <ul class="thumbmnails unstyled">
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL8_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL4_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/IMG_0965_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL5_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL6_op_796x1061.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL7_op_796x1061.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL9_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL10_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL2_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL12_op_796x597.jpg" /></a></li>
        <li class="span2">
            <a href="#" class="thumbnail">
            <img  src="~/content/images/RFTL3_op_796x597.jpg" /></a></li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="span10">
    <h3>2010</h3>

    <p>This year the event will be on Saturday, May 22. We will run out-and-back courses from Sertoma Park in Sioux Falls. We have also added a team section. Participate with your loved ones in memory of your baby...The team with the most members registered will win a tree to plant in memory of their child!</p>

    <p>Please visit <a href="www.allsportcentral.com">www.allsportcentral.com</a> to register!</p>

    <p>If you have a baby that you would like to have remembered as part of our event, or if you're interested in being a sponsor please contact us by phone or email.</p>

    </div>
</div>