@{
    
}

<div class="row" style="margin-bottom: 2em;">
    <div class="span10">
        <img src="~/Content/images/we_remember_1_op_580x253.jpg" alt="we remember" />
    </div>
</div>

@section NewBodyRow {
<div class="row" style="margin-bottom: 2em;">
    <div class="span3">
        <img src="~/content/images/511839367208_0_ALB_2_.jpg" />
    </div>
    <div class="span4">
        <h2 style="text-align: center;">Lachlan Jon Edwards</h2>
        <h5 style="text-align: center;">June 21, 2007 - May 12, 2008</h5>

        <p>        
        Each day that passes is not a day further away from you, but a day closer to seeing you again, sweet boy.
Today is one day closer..
        </p>
    </div>

</div>

<div class="row">
    <div class="span10" style="text-align: center;">
    To add your baby, please send picture, name, dates and an optional message to LachsLegacy@gmail.com

    </div>
</div>
}