@{
    
}

<div class="row">
    <div class="span10">
        <img src="~/Content/images/dancing_in_the_rain_op_580x385.jpg" alt="dancing" />
    </div>
</div>

@section NewBodyRow {

<div class="row">
    <div class="span2">
        <img src="~/Content/images/010509_0747_0004_lsls.jpg" alt="flower" />
    </div>
    <div class="span10">
        <h3> Bereavement Support </h3>
        <p>

            No family should face the loss of a child alone.  
            We are here to offer information and resources to help you 
            through the grieving process as well as connections to other 
            parents and families who have faced a similar loss.
        </p>
        <p>
            Care packages including the SIDS and Infant Death Survival Guide, 
            grief and bereavement support resources, and several comfort items 
            are offered to South Dakota families experiencing the sudden, 
            unexplained loss of an infant.  
            For more information please contact us by phone or email.
        </p>

    </div>
</div>    

<div class="row">
    <div class="span2">
        <img src="~/Content/images/021023_1736_0025_lsls.jpg" alt="baby face" />
    </div>
    <div class="span10">
 <h3>SIDS and Safe-Sleep Education</h3>
    <p>
        Educating everyone involved in an infant's care about SIDS and 
        safe-sleep can reduce a child's risk of an untimely death.  
        We offer educational presentations and information to those who are caring for infants.
    </p>
    <p>
        To schedule a presentation or to get more information on SIDS and safe-sleep 
        please contact us by phone or email.
    </p>
    <p>
        Babies are safest sleeping on their backs, in their own bed free of blankets, 
        padding, and stuffed animals.  
        Keep your baby from being over-bundled and give them a smoke-free environment.
    </p>
    </div>
</div>

<div class="row">
    <div class="span2">
        <img src="~/Content/images/011130_1178_0019_lsls.jpg" alt="book" />
    </div>
    <div class="span10">
   
    <h3>Research</h3>
    <p>
        Though references to sudden infant deaths have been made throughout recorded time, 
        it remains one of the biggest medical mysteries.  
        Though we have made great strides in reducing the risk, SIDS remains unpredictable and unpreventable.  
        By contributing funds to SIDS research we are working to find an answer.     
    </p>
    </div>
</div>

}